<div class="wrapper">
    
    <div class="sidebar" data-color='red' data-image="">
        <div *ngIf="loggedIn()">
            <sidebar-cmp></sidebar-cmp>
        </div>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
    </div>

    <div class="main-panel" [ngStyle]="!loggedIn() && {'width':'100%'}">
        <navbar-cmp></navbar-cmp>
        <router-outlet></router-outlet>
        
            <dashboard-cmp></dashboard-cmp>
          
        <div *ngIf="isMaps('/maps')">
            <footer-cmp></footer-cmp>
        </div>
    </div>
</div>
