<div class="wrapper">
    <div class="main-panel" *ngIf="!authenticated">
        Please Login or Register to view your Bucketlists
        Error: {{ errorMessage }}
    </div>
    <div class="sidebar" data-color='red' data-image="" *ngIf="authenticated">
        <sidebar-cmp></sidebar-cmp>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        User: {{ user }}
        
        
        <dashboard-cmp *ngIf="!authenticated"></dashboard-cmp>
        <div *ngIf="isMaps('/maps')">
            <footer-cmp></footer-cmp>
        </div>
    </div>
</div>
