
<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Login</h4>
                    <p class="category">Log in to Buzz Buckets</p>
                </div>
                <div class="card-content">
                    <form form [formGroup]="userForm" novalidate (ngSubmit)="loginUser(userForm.value, userForm.valid)">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Username</label>
                                    <input type="text" class="form-control" formControlName="username">
                                    <small class="form-field-error" [hidden]="userForm.controls.username.valid || (userForm.controls.username.pristine && !submitted)">
                                        Username is required.
                                    </small>
                                    <div *ngIf="field_errors && field_errors.username" [hidden]="!field_errors.username">
                                        <small class="form-field-error" *ngFor="let error of field_errors.username">
                                            {{ error }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Password</label>
                                    <input type="password" class="form-control" formControlName="password" required>
                                    <small class="form-field-error" [hidden]="userForm.controls.password.valid || (userForm.controls.password.pristine && !submitted)">
                                        Password is required.
                                    </small>
                                    <div *ngIf="field_errors && field_errors.password" [hidden]="!field_errors.password">
                                        <small class="form-field-error" *ngFor="let error of field_errors.password">
                                            {{ error }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-danger pull-right">Log In</button>
                        <div class="clearfix"></div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
