
<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Login</h4>
                    <p class="category">Log in to Buzz Buckets</p>
                </div>
                <div class="card-content">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Username or Email</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Password</label>
                                    <input type="password" class="form-control" >
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-danger pull-right">Log In</button>
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4>Don't have an account?</h4>
                                    <p><a>Register</a> for one</p>
    
                                </div>
                            </div>
                        </div>

                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
